.nav-bar {
  ul {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;  
  }

  li {
    list-style-type: none;
    font-family: 'Space Mono', monospace;
    padding-left: 1rem;
    min-width: 100px; 
  }

  a {
    text-decoration: none;
    color: gray;
  }
}